<%- include("header") -%>

<div class="box about_box">
    <h1>About this project</h1>

    <p>This is a simple 3 page To-do list website. The technologies I used are Express.js and EJS template builder.</p>
</div>


<%- include("footer") -%>