

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>To do project</title>
</head>
<body>

    <div class="nac_block">
        <nav>
            <a href="/">Main List</a>
            
              <form action="/getList" method="post">
                <select class="form-select" name="getListName" onchange="this.form.submit()">
                    <option selected><p>Select Additional Lists</p></option>
                    <% allListNames.forEach((listName)=>{ %>
                        <option value="<%= listName %>" ><%= listName %></option>
                    <% }) %>
    
                  </select>
              </form>
              

            <a href="/about">About the Project</a>
        </nav>
    </div>