

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>To do project</title>
</head>
<body>

    <div class="nac_block">
        <nav>
            <a href="/">Daily chores</a>

            <a href="/work">Working</a>

            <a href="/about">About the Project</a>
        </nav>
    </div>