html {
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%);
  min-height: 100vh;
  font-family: 'Arial';
}

h1 {
  color: #fff;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #A683E3;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #A683E3;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #A683E3;
  color: #fff;
  font-size: 40px;
  padding-bottom: 0px;
  border-width: 0;
  cursor: pointer;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #A683E3;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-weight: bold;
}
.about_box{
  background-color: #fff;
  padding-bottom:30px;
  color:#111111;
}

.about_box h1{
  color:#111111;
  padding:20px 15px 0px;
}

.about_box p{
  color:#111111;
}

.nac_block{
  max-width: 450px;
  margin:50px auto auto;
}

.nac_block nav{
  display: flex;
  justify-content: space-between;
}

.nac_block a{
  background-color: #A683E3;
  padding:12px 20px;
  border-radius: 5px;
  color:white;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}